.menu-items-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px 0 10px;

}

.headline {
  font-size: 24px;
  background: -webkit-linear-gradient(0.5turn, #3CB4D2, #7CC1A0, #F8E074, #D66159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-items{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.button-text{
  font-size: xx-small;
  padding: 0;
  margin: 0;
}

.menu-item{
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
  border:none !important;

  &:active{
    background-color:white;
  }
  &:hover{
    background-color:white;
  }
}

.map-button{
  background-image: url('../../../assets/map.svg');
}
.place-button{
  background-image: url('../../../assets/place.svg');
}
.activity-button{
  background-image: url('../../../assets/friends.svg');
}

