.menu-items-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px 0 10px;

}

.headline {
  font-size: 24px;
  background: -webkit-linear-gradient(0.5turn, #3CB4D2, #7CC1A0, #F8E074, #D66159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-items{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu-item{
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
  border:none !important;

  &:first-of-type{
    background-image: url('../../../assets/map.svg');
  }
  &:nth-of-type(2){
    background-image: url('../../../assets/place.svg');
  }
  &:last-of-type{
    background-image: url('../../../assets/friends.svg');
  }

  &:active{
    background-color:white;
  }
  &:hover{
    background-color:white;
  }
}


