.outer-container{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 80%;
}

.about-container{
	p{
		line-height:1.5;
	}
}

.impressum-container{
	display: flex;
	flex-direction: column;
	p{
		margin:0;	
	}
}