/* CSS for InformationForm component */
.map-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .maplibregl-map{
    max-height: 40vh;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
}

.form-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    color: #1d1d1d;
    font-weight: 400;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #1d1d1d;
  }
  
  input{
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
    color: #1d1d1d;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
  }
  select {
    font-weight: 400;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
  }

  select:invalid,
  select option[value=""] {
    color: #737272;
  }

  .label-upload{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button-upload {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/photo-upload.svg');
  }

  .button-upload:active,
  .button-upload:hover{
    background-color:white;
  }
  
  button.place {
    background: linear-gradient(0.25turn, #3CB4D2, #7CC1A0);
  }