/* CSS for InformationForm component */
.map-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .maplibregl-map{
    max-height: 40vh;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
}

.form-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .back-button{
      top: 20px;
      right: -10%;
      position: absolute;
    }
  }

  h2 {
    color: #1d1d1d;
    font-weight: 400;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #1d1d1d;
  }
  
  input{
    font-family: "Roboto", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    color: #1d1d1d;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
  }
  select {
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    background-color: transparent;
  }

  select:invalid,
  select option[value=""] {
    color: #737272;
  }

  .label-upload{
    font-weight:300;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:16px;
    padding-left: 3px;
  }

  .button-upload {
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: none;
    cursor: pointer;
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/photo-upload.svg');
  }

  .button-upload:active,
  .button-upload:hover{
    background-color:white;
  }
  
  button.button-place {
    background: linear-gradient(0.25turn, #3CB4D2, #7CC1A0);
  }
  .button-place:disabled,
  .button-place:hover{
    border:1px solid #3CB4D2;
    color: #3CB4D2;
    background: white;
  }