.place {
  cursor: pointer;
  fill: black;
  stroke: none;
  padding: 1px;
}

.place:hover,
.place:active{
  color: transparent !important;
  background: transparent !important;
  border:0 !important;
}

.marker{
  height: 35px !important;
}