@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif !important;
    color: #1d1d1d;
    flex-direction: column;
}

.button-submit{
	color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border:0px;
	font-size: 16px;
	font-weight: 400;
}

.button-submit:hover{
    background: white;
}

.back-button{
	img{
		width:20px;
		height:20px;
	}    
	position: absolute;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

