.outer-result-container{
  margin-top: 40px;
}

.result-container{
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.text-container{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.location-name{
  font-size: x-large;
  margin-top: 20px; 
  margin-bottom: 10px;
}

.location-image{
  width: 100%;
}

.text-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}
.location-website,
.location-address{
  font-size: small;
  color: #1d1e1e;
  margin: 0;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.back{
  position: static !important;
}

button.share{
  background: linear-gradient(0.25turn, #7CC1A0, #F8E074);
}

.share:hover{
  border:1px solid #7CC1A0;
  color: #7CC1A0;
  background: white;
}