div.maplibregl-popup {
  max-width: 300px;
  width:230px;
}

button.maplibregl-popup-close-button {
  font-size: x-large;
  color: black;
  /* top: 5px;
  right: -10px; */
}

.maplibregl-popup-content>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-info-textbox {
  display: flex;
  flex-direction: column;

  a{
    color:black;
    text-underline-offset: 2px;
  }
}

.popup-info-text {
  display: flex;
  margin: 0;
  font-size: small;

  &:nth-child(1) {
    font-size: medium;
    font-weight:bold;
  }
}

.popup-info-text-small {
  margin: 0;
  font-size: 12px;
}